

body{
background-color: blue;
}

nav{
	background-color: pink;
	height: 100px;
}


.right{
width: 50%;
float: right;
height: 1000px;
background-color: yellow;
}

.left{ 
width: 50%;
float: left;
height: 1000px;
background-color: red;

}

